@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.blue_btn{
  width: 100%;
  font-size: 14px;
  padding: 14px;
  border-radius: 5px;
  color: white;
  background-color: #00A3FF;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}
.white_btn{
  width: 100%;
  font-size: 14px;
  padding: 14px;
  border-radius: 5px;
  color: #00A3FF;
  border-color: #00A3FF;
  border-width:2px ;
  background-color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.headingLarge {
  font-size: 56px;
  font-weight: 600;
  color: black;
}

.paraStyle {
  font-size: 32px;
  font-weight: 500;
  color: black;
}
